<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <h1>Butorok</h1>

            <form>
                <div class="form-group my-2">
                    <label for="cikkszam" class="form-label">Cikkszam</label>
                    <input [(ngModel)]="cikkszam" id="cikkszam" name="cikkszam" type="text" class="form-control">
                </div>
                <div class="form-group my-2">
                    <label for="megnevezes" class="form-label">Megnevezes</label>
                    <input [(ngModel)]="megnevezes" id="megnevezes" name="megnevezes" type="text" class="form-control">
                </div>
                <div class="form-group my-2">
                    <label for="ar" class="form-label">Ar</label>
                    <input [(ngModel)]="ar" id="ar" name="ar" type="number" class="form-control">
                </div>
                <div class="form-group my-2">
                    <label for="db" class="form-label">Db</label>
                    <input [(ngModel)]="db" id="db" name="db" type="number" class="form-control">
                </div>

                <button type="button" class="btn btn-primary" (click)="felvitel()">Felvitel</button>
            </form>

            <br>

            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Cikkszam</th>
                        <th>Megnevezes</th>
                        <th>Ar</th>
                        <th>Db</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let b of butorok">
                        <td>{{b.cikkszam | uppercase}}</td>
                        <td>{{b.megnevezes | titlecase}}</td>
                        <td>{{b.ar | number: '0.2-2'}} Ft</td>
                        <td>{{b.db}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>